.history-title {
font-size: 2.8rem;
  margin-bottom: 30px;
  padding: 20px 40px;
  margin: -20px -20px 20px -20px;
  color: #ffffff;
  background-color:#1c1937;
  border-bottom: 4px solid #ddd;
  padding-bottom: 20px;
}
.history-container {
  padding: 20px;
  color: #2e2e2e;
  flex-grow:1;
  
  flex-direction: column;
  background-color: #809ea5;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}



.history-empty {
  font-style: italic;
  color: #777;
}

.history-list {
  list-style: none;
  padding: 0;
}

.history-item {
  background: #e0e0e0;
  padding: 10px 14px;
  border-radius: 8px;
  margin-bottom: 8px;
  cursor: pointer;
  transition: background 0.2s ease, transform 0.1s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.history-item:hover {
  background: #8dfd8d;
  transform: translateY(-2px);
}

.history-date {
  font-size: 0.8em;
  color: #555;
}

.clear-history-btn {
  align-self: flex-start;
  background-color: #1c1937;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}
.clear-history-btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

.history-empty{
    color:#ffffff;
    font-size:1.4em;
}